# Byte-compiled / optimized / DLL files
*.egg-info
*__pycache__/*
*.py[cod]
*$py.class

# python build files
*VERSION
build/*
dist/*

# debian build files
.pybuild/*
usr/*
debian/battery-monitor/*
debian/*debhelper*
