# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rope project settings
.ropeproject
/battery-monitor/debian/battery-monitor/
/battery-monitor/debian/battery-monitor.substvars
/battery-monitor/debian/debhelper-build-stamp
/battery-monitor/debian/files
battery-monitor_*
