Source: battery-monitor
Section: utils
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper-compat (= 13),
               desktop-file-utils,
               dh-python,
               gettext,
               libglib2.0-bin,
               libgtk-4-bin,
               meson,
               python3,
               python3-sphinx,
               python3-sphinx-argparse
Standards-Version: 4.6.0
Homepage: https://hsbasu.github.io/battery-monitor
#Vcs-Browser: https://salsa.debian.org/debian/battery-monitor
#Vcs-Git: https://salsa.debian.org/debian/battery-monitor.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: battery-monitor
Architecture: all
Depends: acpi,
         gir1.2-appindicator3-0.1,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         ${python3:Depends},
         ${misc:Depends},
         ${sphinxdoc:Depends}
Description: Monitor Laptop Battery
 A utility tool, notifies user about
 charging, discharging and not charging
 state of the battery on Linux.
 .
 This package installs the gui library for Python 3.

# Package: battery-monitor-doc
# Architecture: all
# Description: documentation for battery-monitor
#  Documentations for GUI environment for
#  Battery Monitor.
