# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for all branches
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ '**' ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [ 'python' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@master
        with:
          submodules: recursive

      # Runs a single command using the runners shell
      - name: Update and install dependecies
        run: |
          sudo apt update -qq
          sudo apt install devscripts equivs
          sudo mk-build-deps -i
          sudo apt install acpi gir1.2-gtk-3.0 gir1.2-notify-0.7 \
          gir1.2-appindicator3-0.1 python3-configobj python3-gi \
          python3-setproctitle python3-tldextract
      
      - name: make
        run: ./test/test -qq
